/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/litera/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/ngx-toastr/toastr.css';

ul.nav.nav-tabs{
    border:0
}
ul.nav.nav-tabs >li{
    font-weight: bold;
}
ul.nav.nav-tabs >li >a{
    color: black;
}
li.nav-item.active {
    border-bottom: 4px solid #02B875;
}
a.nav-link.active > span{
    color:#02B875;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: 0;
}
.tab-content{
    margin: 15px;
}